.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
}

.game-title {
  /* cursor: pointer; */
}

.game-title:hover {
  text-decoration: underline;
}