:root {
  font-family: Quicksand;
  line-height: 1.5;
  font-weight: 500;
  font-size: 24px;
  align-items: center;
  text-align: center;

  color: #73464c;
  background-color: #ffe7d6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('https://thomasbringer.github.io/bleached/cursor/cursor1.png') 25 25, auto;
}

button {
  font-size: 32px;
  font-weight: bold;
  font-family: Quicksand;
  background-color: transparent;
  border: 3px solid #73464c;
  color: #73464c;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0s ease;
}

button:hover {
  border: 4px solid #ab5675;
  color: #ab5675;
  padding: 9px 19px;
  cursor: url('https://thomasbringer.github.io/bleached/cursor/cursor2.png') 16 16, pointer;
}

a:hover {
  cursor: url('https://thomasbringer.github.io/bleached/cursor/cursor2.png') 16 16, pointer;
}

::selection {
  background-color:#ffe7d6;
}

h1 {
  margin:0
}
h2 {
  margin:0
}
h3 {
  margin:0
}
h4 {
  margin:0
}