:root {
  font-family: Quicksand;
  line-height: 1.5;
  font-weight: 400;

  color: #73464c;
  background-color: #ffe7d6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}