.layers{
  max-height: 100vh;
  overflow-y: auto;
  width: 100vw;
}

.layers2{
  height: 2500px;
}

.hidden-layer {
  height: 2500px;
  inset: 0;
  /* background: #ffe07e; */
}

.visible-layer {
  /* overflow: visible; */
  height: 2500px;
  transform: translateY(-2500px);
  pointer-events: none;
  inset: 0;
  background: #ffe7d6;
  mask-image: radial-gradient(circle var(--circle-size) at var(--mouse-x) var(--mouse-y), transparent 100%, black);
  -webkit-mask-image: radial-gradient(circle var(--circle-size) at var(--mouse-x) var(--mouse-y), transparent 100%, black);
}

.interactive-layer {
  height: 2500px;
  transform: translateY(-5000px);
  inset: 0;
}